
<div class="container cake">
    <h1>ABOUT　<span>Ngano Cake</span></h1>
    <h2>　全ての人が笑顔になれるお菓子を作るそれが永野の願いです。</h2>
    <div class="border-top border-dark" style="padding:5px;"></div><br>

    <div class="row">
        <div class="col text-center">
        <h5><i>ながのCAKEは全国発送可能なケーキ屋さんです。</br>
        お⼦様からお年寄りの⽅までお召し上がりいただけるよう、</br>
        様々なバリエーションをご⽤意しております。</br>
        また、全国へ発送可能ですので「いつ」でも「どこ」でもご注⽂いただけます。</br>
        ぜひご注⽂ください。</i></h5>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <%= image_tag 'nagano.png', with:227.5, height:420.5 %>
        </div>
        <div class="col-lg-3">
            <p>　本場イタリアにて、パティシエ修業の最中、コロナウイルスの影響で帰国を余儀なくされた。
            人生はケーキの様に甘いものでは無い事を痛感し失意のどん底であった永野であった、だが、、、
            彼のピンチをチャンスに変える不屈の精神はここで賭けに出た。</br></P>
            <p> 　なんと’２０２０年、銀座一等地にに「永野・cake」をオープン、
            永野のトレードマークであるキノコボブを模した永野モンブランを開発、たちまち若者達の人気を博し、
            10ヶ月先まで予約で買えない状況に。’２１年に就任した菅総理大臣より「コロナ禍の星」との賞賛を頂いた。
            現在も変わらず、たくさんの予約客で賑わう。</p>
        </div>

    </div>
 </div>