
<div class="container">
    <h1>ABOUT</h1>
    <div class="row">
        <div class="col">
            <h2>永野</h2>
            <%= image_tag 'nagano.png', with:227.5, height:420.5 %>
        </div>
        <div class="col">
            <p>本場イタリアにて3年間修業の後帰国。’97年、銀座に「ラ・ベットラ」をオープン。</br>
            たちまち人気を博し、14ヶ月先まで予約でいっぱいに。’05年、イタリア大統領より
            「イタリア連帯の星・カヴァリエーレ章」受勲。現在も変わらず、たくさんの予約客で賑わう。</p>
        </div>
    </div>
 </div>