<h1>Admin::Customers#edit</h1>
<p>Find me in app/views/admin/customers/edit.html.erb</p>

  <div>
    <p>id</p>
    <p>性名</p>
    <p>性名カナ</p>
    <p>退会ステータス</p>
    <p>メールアドレス</p>
    <p>パスワード</p>
    <p>郵便番号</p>
    <p>作成日時</p>
    <p>更新日時</p>
  </div>