<h1>顧客詳細</h1>

  <div>
    <p>id</p>
    <p>性名</p>
    <p>性名カナ</p>
    <p>退会ステータス</p>
    <p>メールアドレス</p>
    <p>パスワード</p>
    <p>郵便番号</p>
    <p>作成日時</p>
    <p>更新日時</p>
    
    <%= link_to "編集",edit_admin_customer %>
  </div>