<div class="container">
  <h1>Order's history</h1>
  <div class="border-top border-dark" style="padding:5px;"></div><br>
  <div class="row">
    <table class="table table-striped col-7">
      <thody>
        <tr>
            <td>
            　注文日
            </td>
            <td>
              
            </td>
          </tr>
        <tr>
          <td>
            配送先
          </td>
          <td>
            
          </td>
        </tr>
        <tr>
            <td>
              支払い方法
            </td>
            <td>
              
            </td>
          </tr>
        <tr>
            ステータス
          </tr>
        <tr>
            
          </tr>
      </thody>
    </table>
    <table class="table table-striped col-5">
      <thody>
          <tr>
            <td>
            　商品合計
            </td>
            <td>
              
            </td>
          </tr>
          <tr>
            <td>
              配送料
            </td>
            <td>
              
            </td>
          </tr>
          <tr>
            <td>
              ご請求額
            </td>
            <td>
              
            </td>
          </tr>
         </thody>
    </table>
  </div>
  <div class="row">
    <table  class="table table-striped col-5">
    <thody>
          <tr>
            <td>
            　商品
            </td>
            <td>
              単価（税込）
            </td>
            <td>
              個数
            </td>
            <td>
              小計
            </td>
          </tr>
          <tr>
            <td>
            
            </td>
            <td>
              
            </td>
            <td>
              
            </td>
            <td>
              
            </td>
          </tr>
         </thody>
    </table>
  </div>
</div>