<h1>管理者画面</h1>

<div>
    <p><%= link_to "商品一覧",admin_products_path %></p>
    <p><%= link_to "ジャンル一覧",admin_genres_path %></p>
    <p><%= link_to "顧客一覧",admin_customers_path %></p>
</div>

<div>
    <p>注文詳細画面</p>
    <p>チュモンステータス・着手状況</p>
    <p>製作ステータスの更新</p>
</div>
